<!-- Validation failure messages -->
<% if @comment.errors.any? %>
  <% @comment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Comment #<%= @comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_comment/<%= @comment.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @comment.user_id %>">
      </div>

      <!-- Label and input for helpful_or_not -->
      <div class="checkbox">
        <label for="helpful_or_not">
          <input type="checkbox" id="helpful_or_not" name="helpful_or_not" value="1" <%= "checked" if @comment.helpful_or_not %>>
          Helpful or not
        </label>
      </div>

      <!-- Label and input for bathroom_id -->
      <div class="form-group">
        <label for="bathroom_id" class="control-label">
          Bathroom
        </label>

        <input type="text" id="bathroom_id" name="bathroom_id" placeholder="Bathroom" class="form-control" value="<%= @comment.bathroom_id %>">
      </div>

      <button class="btn btn-warning">
        Update Comment
      </button>
      or
      <a href="/comments/<%= @comment.id %>">Cancel</a>
    </form>
  </div>
</div>
