<!-- Validation failure messages -->
<% if @comment.errors.any? %>
  <% @comment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Comment</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @comment.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for helpful_or_not -->
      <div class="checkbox">
        <label for="helpful_or_not">
          <input type="checkbox" id="helpful_or_not" name="helpful_or_not" value="1" <%= "checked" if @comment.helpful_or_not %>>
          Helpful or not
        </label>
      </div>

      <!-- Label and input for bathroom_id -->
      <div class="form-group">
        <label for="bathroom_id" class="control-label">
          Bathroom
        </label>

        <%= select_tag(:bathroom_id, options_from_collection_for_select(Bathroom.all, :id, :created_at, @comment.bathroom_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Comment
      </button>
      or
      <a href="/comments">Cancel</a>
    </form>
  </div>
</div>
