<div class="page-header">
  <h3>Comment #<%= @comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @comment.user.present? %>
          <a href="/users/<%= @comment.user_id %>">
            <%= @comment.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Helpful or not</dt>
      <dd><%= @comment.helpful_or_not %></dd>

      <dt>Bathroom</dt>
      <dd>
        <% if @comment.bathroom.present? %>
          <a href="/bathrooms/<%= @comment.bathroom_id %>">
            <%= @comment.bathroom.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/comments" class="btn btn-primary">
        Back
      </a>
      <a href="/comments/<%= @comment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_comment/<%= @comment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
