<div class="page-header">
  <h3>Bathroom #<%= @bathroom.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Address</dt>
      <dd><%= @bathroom.address %></dd>

      <dt>Neiborhood</dt>
      <dd><%= @bathroom.neiborhood_id %></dd>

      <dt>Notes</dt>
      <dd><%= @bathroom.notes %></dd>

      <dt>Comment</dt>
      <dd><%= @bathroom.comment_id %></dd>

      <dt>Public or not</dt>
      <dd><%= @bathroom.public_or_not %></dd>

      <dt>Rating easy to find</dt>
      <dd><%= @bathroom.rating_easy_to_find %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bathrooms" class="btn btn-primary">
        Back
      </a>
      <a href="/bathrooms/<%= @bathroom.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bathroom/<%= @bathroom.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Bathroom has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @bathroom.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for helpful_or_not -->
      <div class="checkbox">
        <label for="helpful_or_not">
          <input type="checkbox" id="helpful_or_not" name="helpful_or_not" value="1" <%= "checked" if @comment.helpful_or_not %>>
          Helpful or not
        </label>
      </div>

      <!-- Label and input for bathroom_id -->
      <input type="hidden" name="bathroom_id" value="<%= @bathroom.id %>">

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Bathroom has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @bathroom.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
