<!-- Validation failure messages -->
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add User</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_user" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for email -->
      <div class="form-group">
        <label for="email" class="control-label">
          Email
        </label>

        <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @user.email %>">
      </div>

      <!-- Label and input for username -->
      <div class="form-group">
        <label for="username" class="control-label">
          Username
        </label>

        <input type="text" id="username" name="username" placeholder="Username" class="form-control" value="<%= @user.username %>">
      </div>

      <!-- Label and input for first_name -->
      <div class="form-group">
        <label for="first_name" class="control-label">
          First name
        </label>

        <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= @user.first_name %>">
      </div>

      <!-- Label and input for last_name -->
      <div class="form-group">
        <label for="last_name" class="control-label">
          Last name
        </label>

        <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= @user.last_name %>">
      </div>

      <!-- Label and input for password -->
      <div class="form-group">
        <label for="password" class="control-label">
          Password
        </label>

        <input type="text" id="password" name="password" placeholder="Password" class="form-control" value="<%= @user.password %>">
      </div>

      <button class="btn btn-success">
        Create User
      </button>
      or
      <a href="/users">Cancel</a>
    </form>
  </div>
</div>
