<div class="page-header">
  <h3>Neighborhood #<%= @neighborhood.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @neighborhood.name %></dd>

      <dt>Center address</dt>
      <dd><%= @neighborhood.center_address %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/neighborhoods" class="btn btn-primary">
        Back
      </a>
      <a href="/neighborhoods/<%= @neighborhood.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_neighborhood/<%= @neighborhood.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Neighborhood has many bathrooms -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bathrooms
      </li>

      <% @neighborhood.bathrooms.each do |bathroom| %>
        <li class="list-group-item">
          <a href="/bathrooms/<%= bathroom.id %>">
            <%= bathroom.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bathrooms/<%= bathroom.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bathrooms/<%= bathroom.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bathroom/<%= bathroom.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bathroom" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="">
      </div>

      <!-- Label and input for neiborhood_id -->
      <div class="form-group">
        <label for="neiborhood_id" class="control-label">
          Neiborhood
        </label>

        <%= select_tag(:neiborhood_id, options_from_collection_for_select(Neighborhood.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for comment_id -->
      <div class="form-group">
        <label for="comment_id" class="control-label">
          Comment
        </label>

        <input type="text" id="comment_id" name="comment_id" placeholder="Comment" class="form-control" value="">
      </div>

      <!-- Label and input for public_or_not -->
      <div class="form-group">
        <label for="public_or_not" class="control-label">
          Public or not
        </label>

        <textarea id="public_or_not" name="public_or_not" placeholder="Public or not" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for rating_easy_to_find -->
      <div class="form-group">
        <label for="rating_easy_to_find" class="control-label">
          Rating easy to find
        </label>

        <input type="text" id="rating_easy_to_find" name="rating_easy_to_find" placeholder="Rating easy to find" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Bathroom
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
